body {
    --charts-lines-color: #008080;
    --charts-axis-color: #000000;
}

body.dark {
    --charts-lines-color: #6792D8;
    --charts-axis-color: #FFFFFF;
}

body.dark #barchart {
    color: black;
}

.charts > p:first-child {
    overflow: auto;
}

.charts .buttons-toolbar {
    display: flex;
    justify-content: flex-end;
}

.charts form {
    margin: 1em 0;
}

.charts form > * {
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-bottom: 1em;
}

.charts form > *:last-child {
    margin-bottom: 0;
}

.charts form > * > p {
    margin: 0;
}

.charts form > * > .checkboxes,
#default-params .checkboxes {
    display: flex;
}

.charts form > * > .checkboxes > *,
#default-params .checkboxes > * {
    width: 50%;
}

.charts form > * > p.buttons-group {
    display: flex;
    justify-content: center;
}

.charts form > * > p.buttons-group > * {
    min-width: 25%;
}

@media (max-width: 768px) {
    .charts form > * {
        display: block;
    }

    .charts form > * > * {
        display: block;
    }
}

.pie-charts {
    display: flex;
    flex-wrap: wrap;
}

/* Display two pie charts on large screen, only one on small screens. */
.pie-charts > * {
    flex: 1 1 49%;
    text-align: center;
}

@media (max-width: 768px) {
    .pie-charts > * {
        flex-basis: 100%;
    }
}

.pie-charts .tooltipped {
    margin-right: 1ex;
}

.c3-axis-x,
.c3-axis-y,
.c3-legend-item {
    fill: var(--charts-axis-color);
}

.c3-xgrids path,
.c3-ygrids path,
.c3-axis-x line,
.c3-axis-y line,
.c3-axis-x path,
.c3-axis-y path {
    stroke: var(--charts-axis-color);
}

body.dark .c3-tooltip-container {
    color: black;
}

.dygraph-axis-label,
.dygraph-legend {
    color: var(--charts-axis-color);
    background-color: transparent;
}
